<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock title %}</title>
    {% block meta %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {% endblock meta %}

    {% block stylesheets %}
    {% if app.environment == "prod" %}
    {% stylesheets filter='lessphp,yui_css' output='bundles/clov3rlabstaller/css/vuddu.min.css'
        '@Clov3rLabsTallerBundle/Resources/public/less/vuddu.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
    {% else %}
    <link href="{{ asset('bundles/clov3rlabstaller/less/vuddu.less') }}" rel="stylesheet/less" type="text/css" />
    {% endif %}
    {% endblock stylesheets %}

    {% block javascripts %}
    {% if app.environment == "prod" %}
    {% javascripts filter='yui_js' output='bundles/clov3rlabstaller/js/vuddu.min.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/affix.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/alert.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/button.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/carousel.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/dropdown.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/modal.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/tab.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/scrollspy.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/transition.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/tooltip.js'
        '@Clov3rLabsTallerBundle/Resources/public/js/popover.js'
        %}{% endjavascripts %}
    {% else %}
    <script src="{{ asset('bundles/clov3rlabstaller/js/less.js') }}" type="text/javascript"></script>
    {% endif %}
    {% endblock javascripts %}
</head>
<body>

{{ render(controller("Clov3rLabsTallerBundle:Default:navBar")) }}

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


<div id="content">
{% block content %}
<p>Hello world! This is HTML5 Boilerplate.</p>
{% endblock content %}
</div>

{% block post_javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% endblock post_javascripts %}
</body>
</html>
