TypeError: Cannot call method 'charAt' of undefined
    at getLocation (/Users/christian/node_modules/less/lib/less/parser.js:212:34)
    at new LessError (/Users/christian/node_modules/less/lib/less/parser.js:221:19)
    at Object.toCSS (/Users/christian/node_modules/less/lib/less/parser.js:385:31)
    at /Users/christian/node_modules/less/bin/lessc:107:28
    at finish (/Users/christian/node_modules/less/lib/less/parser.js:434:40)
    at /Users/christian/node_modules/less/lib/less/parser.js:94:48
    at /Users/christian/node_modules/less/lib/less/index.js:116:17
    at finish (/Users/christian/node_modules/less/lib/less/parser.js:434:40)
    at /Users/christian/node_modules/less/lib/less/parser.js:94:48
    at /Users/christian/node_modules/less/lib/less/index.js:116:17
