{% extends 'Clov3rLabsTallerBundle::layout.html.twig' %}

{% block content %}
Hello {{ name }}!{% if is_granted('IS_AUTHENTICATED_FULLY') %}, Usuario registrado {% endif %}
{% endblock content %}

{% block post_javascripts %}{% endblock post_javascripts %}
