<div class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">Vuddu</a>
    <ul class="nav navbar-nav">
        {% for link in links %}
        <li><a href="{{ asset(link.url) }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
    <p class="navbar-text pull-right"><a href="#" class="navbar-link">{% trans from 'Clov3rLabsTallerBundle' %}security.login.link{% endtrans %}</a></p>
</div>